# exclude any directories with potentially large (qty or size) files (logger_runs/)

logger_runs/*
!logger_runs/.gitkeep

logger_runs/manifest/*
!logger_runs/.gitkeep
!logger_runs/manifest/.gitkeep

#ignore pycache
/pycache/*
*.pyc

#ignore saved models or tensors
*.pt
# add any others as necessary